.about-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

.about-page h1 {
  color: #2c2064;
}
.about-page p {
  color: black;
}
.about-page li {
  color: black;
}
.about-page ul {
  padding-left: 1.5rem;
}


