.contact-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  color:rgb(5, 93, 37);
}

.contact-info {
  margin-top: 1rem;
}

.contact-info form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
}

.contact-info input,
.contact-info textarea {
  padding: 0.5rem;
  border: 1px solid #5d0000;
  border-radius: 4px;
}

.contact-info button {
  padding: 0.5rem 1rem;
  background: #043d76;
  color: rgb(233, 167, 167);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}